<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mining.mapper.MiningIncomeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mining22.domain.MiningIncome">
        <id column="income_id" property="incomeId" />
        <result column="income_day" property="incomeDay" />
        <result column="principal" property="principal" />
        <result column="profit" property="profit" />
        <result column="profit_margin" property="profitMargin" />
        <result column="count" property="count" />
        <result column="total_amt" property="totalAmt" />
        <result column="create_name" property="createName" />
        <result column="create_datetime" property="createDatetime" />
        <result column="update_name" property="updateName" />
        <result column="update_datetime" property="updateDatetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        income_id, income_day, principal, profit, profit_margin, count, total_amt, create_name, create_datetime, update_name, update_datetime
    </sql>

</mapper>
