<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mining.mapper.MiningAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mining.domain.MiningAccount">
        <id column="member_id" property="memberId" />
        <result column="staff_number" property="staffNumber" />
        <result column="staff_name" property="staffName" />
        <result column="staff_password" property="staffPassword" />
        <result column="identity_card_type" property="identityCardType" />
        <result column="identity_card_id" property="identityCardId" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
        <result column="member_note" property="memberNote" />
        <result column="member_register_name" property="memberRegisterName" />
        <result column="member_register_datetime" property="memberRegisterDatetime" />
        <result column="member_update_name" property="memberUpdateName" />
        <result column="member_update_datetime" property="memberUpdateDatetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        member_id, staff_number, staff_name, staff_password, identity_card_type, identity_card_id, sort, status, member_note, member_register_name, member_register_datetime, member_update_name, member_update_datetime
    </sql>

</mapper>
